@forward 'welcome';
@forward 'tasks';
@forward 'reports';
@forward 'coworkers';

@forward 'btn/btn';
@forward 'logo';
@forward 'menu';
@forward 'notification';
@forward 'menu-btn';
@forward 'notification';
@forward 'notification-btn';
@forward 'search';
@forward 'badges';
