@use '../../utils/placeholders';
@use '../../utils/variables' as var;
@use '../../utils/functions' as fn;
@use '../../utils/mixins' as mx;

.co-workers-table {
  width: 100%;

  @include mx.mq('md', 'max') {
    display: none;
  }

  caption {
    @extend %details;
    color: fn.get-color('light');

    span {
      @extend %accent-text;
    }
  }

  thead {
    position: sticky;

    top: -1px;
    z-index: 100;

    th {
      @extend %details-accent;
      color: fn.get-color('light');

      position: relative;
      padding-bottom: 12px;

      border-bottom-width: 1px;
      background-color: fn.get-color('dark-tertiary');
      @include mx.mq('lg') {
        background-color: fn.get-color('dark-secondary');
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 1px;
        background-color: fn.get-color('dark-tertiary');

        @include mx.mq-between('md', 'lg') {
          background-color: fn.get-color('light-tertiary');
        }
      }
    }

    &:first-child {
      text-align: center;
    }
  }

  tbody {
    @extend %details;
    color: fn.get-color('light-secondary');

    td {
      position: relative;
      padding: 16px 0;

      vertical-align: middle;
      border-bottom-width: 1px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 1px;
        background-color: fn.get-color('dark-tertiary');

        @include mx.mq-between('md', 'lg') {
          background-color: fn.get-color('light-tertiary');
        }
      }
    }

    .thumb {
      @include mx.frame(24px, $is-circle: true);
      margin: 0;
    }
  }
}
