@if index($btn-types, danger) {
  /* ==Danger== */

  .btn--danger {
    background-color: #fc5a5a;

    &:active {
      background-color: darken(#fc5a5a, 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten(#fc5a5a, 10%);
        box-shadow: 0 4px 10px 0 rgba(240, 127, 46, 0.25);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
