@if index($btn-types, dafault) {
  /* ==Dafault== */

  .btn--dafault {
    background-color: #92929d;

    &:active {
      background-color: darken(#92929d, 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten(#92929d, 10%);
        box-shadow: 0 4px 10px 0 rgba(240, 127, 46, 0.25);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
