@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.header {
  display: flex;
  align-items: center;
  padding: 16px;

  background-color: fn.get-color('dark-secondary');
  box-shadow: inset 0 1px 0 0 #292932;

  @include mx.mq('lg') {
    grid-area: header;

    padding: 24px 36px;
    justify-content: space-between;
  }
}
